CREATE DATABASE IF NOT EXISTS infra;

CREATE USER infra_user
IDENTIFIED WITH plaintext_password BY 'infra_pass';

GRANT ALL ON infra.* TO infra_user;

CREATE TABLE infra.metrics_raw
(
    date Date,
    ts DateTime,
    host String,
    vm String,
    metric LowCardinality(String),
    value Float64,
    tags Map(String, String)
)
ENGINE = MergeTree
PARTITION BY date
ORDER BY (metric, host, ts);
